#btn-icon {
    cursor: pointer;
}
.card-slide-item {
    display: none;
}
.card-slide-item--active {
    position:relative;
	animation:animateright 1.5s
}
@keyframes animateright {
	from{right:-50px;opacity:0} 
	to{right:0;opacity:1}
}